
* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #ffebe7;
  height: 1rem;
  font-size: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  font-size: 2rem;
  font-weight: 700;
  z-index: 1;
}

#diamond {
  color: #65daff;
  font-size: 3rem;
  position: absolute;
  left: 15px;
  z-index: -1;
}

.menu {
  display: flex;
  gap: 100px;
}

li {
  color: rgb(31, 30, 30);
  font-size: 1.5rem;
  cursor: pointer;
}

li:hover {
  font-size: 1.6rem;
}

.menu_content {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
}

.btn_1 {
  background-color: white;
  padding: 10px 40px 10px 40px;
  font-size: 1.5rem;
  color: black;
  border: none;
  border-radius: 28px;
  margin-right: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn_1:hover {
  font-size: 1.6rem;
}

.btn_2 {
  background-color: #2f327d;
  padding: 10px 40px 10px 40px;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn_2:hover {
  font-size: 1.6rem;
}

.body_content {
  background-color: #ffebe7;
  height: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.left {
  margin-top: 160px;
  padding: 100px;
}

.left h1 {
  color: #2f327d;
  font-size: 4rem;
  font-weight: 900;
}

#h1_P1 {
  color: #ff7a59;
}

.left p {
  margin-top: 20px;
  color: rgb(78, 75, 75);
  font-size: 1.5rem;
}

.left_btns {
  display: flex;
}

.l_btn_1 {
  margin-top: 20px;
  background-color: #ff7a59;
  padding: 10px 30px 10px 30px;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.l_btn_1:hover {
  padding: 20px 40px 20px 40px;
}

.l_btn_2 {
  margin-top: 20px;
  margin-left: 2rem;
  background-color: white;
  padding: 25px;
  font-size: 1.5rem;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.l_btn_2:hover {
  padding: 2rem;
}

.l_btn_2 span {
  color: #23bdee;
}

#btn_Text {
  margin-top: 45px;
  margin-left: 20px;
  font-weight: bold;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  height: 1000px;
  width: 840px;
  margin-top: -100px;
}

.wave_divider {
  height: 400px;
  margin-top: -330px;
  background-image: url(./assests/wave\ \(1\) .svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details h1 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  color: #767681;
}

.icons {
  margin-top: 100px;
  display: flex;
  gap: 100px;
  font-size: 4rem;
  color: #767681;
}

.learhub_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.learhub_details h1 {
  font-size: 3rem;
  line-height: 2rem;
  font-weight: bold;
  color: #ff7a59;
}

.learhub_details span {
  color: #3f4287;
}

.learhub_details p {
  text-align: center;
  margin-top: 50px;
  width: 900px;
  font-size: 1.5rem;
  color: #767681;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 300px;
  height: 300px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.card #p_group {
  font-size: 5rem;
  margin-top: -120px;
  color: #23bdee;
}

.card #online {
  font-size: 5rem;
  margin-top: -120px;
  color: #5b72ee;
}

.card #booking {
  font-size: 5rem;
  margin-top: -120px;
  color: #2f327d;
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_body h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 2.4rem;
  color: #5d5f99;
}

.card_body p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  color: #767681;
}

footer {
  height: 100px;
}

.sm_icons {
  display: none;
}

@media screen and (max-width: 490px) {
  nav {
    background-color: #ffebe7;
    height: 1rem;
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Logo {
    font-size: 2rem;
    font-weight: 700;
    z-index: 1;
  }

  #diamond {
    color: #65daff;
    font-size: 3rem;
    position: absolute;
    left: 100px;
    z-index: -1;
  }

  .menu {
    display: none;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .details h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #767681;
  }

  .icons {
    display: none;
  }

  .sm_icons {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    gap: 30px;
    color: #767681;
  }

  .body_content {
    background-color: #ffebe7;
    height: 1000px;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .left {
    padding: 0;
  }

  .left h1 {
    color: #2f327d;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
  }

  #h1_P1 {
    color: #ff7a59;
  }

  .left p {
    text-align: center;
    margin-top: 20px;
    color: rgb(78, 75, 75);
    font-size: 2rem;
  }

  .left_btns {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  .l_btn_1 {
    margin-top: 20px;
    background-color: #ff7a59;
    padding: 20px;
    font-size: 1.4rem;
    color: white;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .l_btn_2 {
    margin-top: 20px;
    background-color: white;
    padding: 25px;
    width: fit-content;
    font-size: 1rem;
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .l_btn_2 span {
    color: #23bdee;
  }

  #btn_Text {
    margin-top: 45px;
    margin-left: 20px;
    font-weight: bold;
  }

  .wave_divider {
    height: 400px;
    margin-top: -330px;
    background-image: url(./assests/smbg.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .learhub_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }

  .learhub_details h1 {
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
    font-weight: bold;
    color: #ff7a59;
  }

  .learhub_details span {
    color: #3f4287;
  }

  .learhub_details p {
    text-align: center;
    margin-top: 50px;
    width: 300px;
    font-size: 2rem;
    color: #767681;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .card {
    width: 280px;
    height: 300px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  }

  .card #p_group {
    font-size: 5rem;
    margin-top: -120px;
    color: #23bdee;
  }

  .card #online {
    font-size: 5rem;
    margin-top: -120px;
    color: #5b72ee;
  }

  .card #booking {
    font-size: 5rem;
    margin-top: -120px;
    color: #2f327d;
  }

  .card_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card_body h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.4rem;
    color: #5d5f99;
  }

  .card_body p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
    color: #767681;
  }
}
